#root {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #282c34;
  color: white;
}

main > section {
  padding: 0 50px;
}

.btn-1,
.btn-1[type="submit"] {
  color: white;
  background-color: blueviolet;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 16px;
  width: fit-content;
}

input,
textarea {
  color: black;
  border-radius: 8px;
  padding: 5px;
}
